NET "AN[0]" LOC=F17;
NET "AN[1]" LOC=H17;
NET "AN[2]" LOC=C18;
NET "AN[3]" LOC=F15;
NET "CLK_50M" LOC=B8;
NET "CLK_50M" PERIOD =20.0ns HIGH 50%;
NET "LED0" LOC = J14;
NET "LED1" LOC = J15;
NET "LED2" LOC = K15;
NET "LED3" LOC = K14;
NET "LED4" LOC = E17;
NET "LED5" LOC = P15;
NET "LED6" LOC = F4;
NET "LED7" LOC = R4;
NET "RESET" LOC = H13;  
NET "PAUSE" LOC = B18;
NET "LAP" LOC = D18;
NET "LAP1" LOC = G18;
NET "LAP2" LOC = H18;
NET "LAP3" LOC = K18;
NET "PAUSE" LOC = R17;
NET "SEVEN_SEG[6]" LOC = L18;
NET "SEVEN_SEG[5]" LOC = F18;
NET "SEVEN_SEG[4]" LOC = D17;
NET "SEVEN_SEG[3]" LOC = D16;
NET "SEVEN_SEG[2]" LOC = G14;
NET "SEVEN_SEG[1]" LOC = J17;
NET "SEVEN_SEG[0]" LOC = H14;
NET "DP" LOC = C17;